COOKIE_SECRET=supersecret # TODO GENERATE SECURE SECRET
JWT_SECRET=supersecret  # TODO GENERATE SECURE SECRET
STORE_CORS=http://localhost:8000,https://docs.medusajs.com,http://localhost:5173,http://localhost:5174,http://localhost:3007
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,http://localhost:5174,http://localhost:3007
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,http://localhost:5174,http://localhost:3007
MEDUSA_BACKEND_URL= http://localhost:9000
DISABLE_MEDUSA_ADMIN=false
MEDUSA_WORKER_MODE=server
PORT=9000
DATABASE_URL=postgres://{USER}:{PW}@postgres/{DBNAME}
REDIS_URL=redis://redis
STRIPE_API_KEY=supersecret
STRIPE_PUBLISHABLE_KEY=supersecret
STRIPE_WEBHOOK_SECRET=supersecret
MAIL_HOST=example.host.com
MAIL_USER=test@example.de
MAIL_PW=craSdrcW#QJ4!V
NODE_ENV=production